{{#each question.answers as |answer|}}
  <div class="answer-tile">
    <div class="row">
      <div class="col-md-12">
        <h4>{{answer.name}} Answered:</h4>
        <br>
        <p>{{answer.content}}</p>
      </div>
    </div>
  </div>
  {{/each}}
