{{#link-to 'question' question.id}}
<div class="col-md-4 question-tile">
  <div class="row">
    <h3>{{question.name}}</h3>
    <h6>{{question.content}}</h6>
    <div class="">
      <img class="question-tile-image" src="{{question.image}}" alt="image" />
    </div>
  </div>
</div>
{{/link-to}}
