 <header>
  <div class="jumbotron">
  <div class="nav">
  {{#link-to 'index'}} <img class="logo" src="http://questionmark.guide/wp-content/uploads/2015/04/question-mark.png" alt="" /> {{/link-to}}
    <ul>
      {{#link-to 'admin'}}<li class="nav-link">Admin</li>{{/link-to}}
      {{#link-to 'index'}}<li class="nav-link">Home</li>{{/link-to}}
      {{#link-to 'favorites'}}<li class="nav-link">Favorites</li>{{/link-to}}
    </ul>
  </div>
  <h1>Asgard's Answers</h1>
</div>
</header>

<body>
  {{outlet}}
</body>
