 <header>
  <nav>
    <ul>
      <li>{{#link-to 'index'}}<h3>Logo</h3>{{/link-to}}</li>
      {{#link-to 'admin'}}<li class="nav-link">Admin</li>{{/link-to}}
      {{#link-to 'index'}}<li class="nav-link">Home</li>{{/link-to}}
    </ul>
  </nav>
</header>

<body>
  {{outlet}}
</body>
